<!DOCTYPE html>
<html lang="pt-br" ng-app="theos">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Teste Theòs Sistemas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body ng-controller="theosCtrl">

	<loading></loading>

	<!-- Modal -->
	<div class="modal-theos" id="modal_cadastro">
		<div class="modal-background">
			<div class="modall">
				<h2>{{modalTitle}}</h2>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="nome"><span class="obrigatorio">*</span> Nome</label>
							<input type="text" class="form-control" id="nome" placeholder="Nome" ng-model="profissional.nome" ng-required="true" autocomplete="off">
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="sobrenome"><span class="obrigatorio">*</span> Sobrenome</label>
							<input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" ng-model="profissional.sobrenome" ng-required="true" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="email"><span class="obrigatorio">*</span> Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email" ng-model="profissional.email" ng-required="true" autocomplete="off">
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="sexo">Sexo</label>
							<select name="sexo" id="sexo" class="form-control" ng-model="profissional.sexo">
								<option value="Masculino">Masculino</option>
								<option value="Feminino">Feminino</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="estado">Estado</label>
							<select name="estado" class="form-control" ng-model="profissional.estado" ng-options="e.sigla for e in cidades_estados" ng-change="setCidadeFirst()">
							</select>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="cidade">Cidade</label>
							<select name="cidade" id="cidade" class="form-control" ng-model="profissional.cidade" ng-options="cidade for cidade in profissional.estado.cidades">
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="area_formacao"><span class="obrigatorio">*</span> Área de formação</label>
							<input type="text" class="form-control" id="area_formacao" placeholder="Área de formação" autocomplete="off" ng-model="profissional.area_formacao" ng-required="true">
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="profissao"><span class="obrigatorio">*</span> Profissão</label>
							<select name="profissao" id="profissao" class="form-control" ng-model="profissional.profissao" ng-options="p.nome for p in lista_profissoes track by p.nome" ng-required="true">
								<option value="">Selecione uma profissão</option>
							</select>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="box-flex flexrow flexcenter flexend">							
							<button class="btn btn-default" ng-click="closeModal()">Cancelar</button>
							<button class="btn btn-primary" ng-click="salvarProfissional()" ng-disabled="!profissional.nome || !profissional.sobrenome || !profissional.email || !profissional.area_formacao || !profissional.profissao">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- final do modal -->

	<header class="sombra">
		<div class="title text-center">
			<h1>Teste front-end</h1>
		</div>
	</header>

	<main>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="options-crud box-flex flexrow flexend">
					<a href="#modal_cadastro" type="button" class="btn btn-primary btn-sm modal-trigger" ng-click="novoCadastro()">Novo cadastro</a>
				</div>
				
				<h4 class="nodata text-center" ng-show="profissoes.length == 0">Nenhum registro encontrado.</h4>
			</div>			
		</div>

		<div class="row" ng-show="profissoes.length > 0">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<input type="search" placeholder="Pesquisar" ng-model="pesquisa">
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover table-condensed table-data">
						<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Sexo</th>
								<th>Cidade / Estado</th>
								<th>Área de formação</th>
								<th>Profissão</th>
								<th>Cadastro</th>
								<th>Opções</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="profissao in profissoes | orderBy:'nome' | filter:search">
								<td>{{profissao.nome + '  ' + profissao.sobrenome}}</td>
								<td><a href="mailto:{{profissao.email}}">{{profissao.email}}</a></td>
								<td>{{profissao.sexo}}</td>
								<td>{{profissao.cidade+  ' - ' + profissao.estado}}</td>
								<td>{{profissao.area_formacao}}</td>
								<td>{{profissao.profissao}}</td>
								<td>{{profissao.date | formatarData}}</td>
								<td>
									<div class="options-table">
										<button class="btn btn-warning btn-xs" ng-click="editar(profissao._id)">
											Editar
										</button>
										<button class="btn btn-danger btn-xs" ng-click="requisicao('DELETE', profissao._id)">
											Excluir
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>

	<footer>
		Teste frontend Theòs Sistemas 2018
	</footer>	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<!-- <script src="../assets/js/angular.js"></script> -->
	<script src="../assets/js/theos.min.js"></script>
</body>
</html>